nav {
  .home-icon {
    position: relative;
    top: 6px;
  }
  a {
    font-weight: bold !important;
    &.parent-link.js-generated:after {
      font-family: FontAwesome;
      content: "\f149";
      padding-left: .5rem;
    }
  }
}