header {
  .top-bar-section > ul > .divider {
    border:none;
  }

  &.contain-to-grid {
    //@include background-image(linear-gradient($uthsc-green 30%,$uthsc-green-dark 100%));
    background:$uthsc-green;
    //border-top: 1px solid $uthsc-green-light;

    @media #{$medium-only} {
      margin-bottom:0;
    }
    @media #{$small-only} {
      margin-bottom:0;
    }
  }
}

.logout-container a{
  color:#fff;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right:0;
}
.logout-container {
  height: 45px;
  position: relative;
  @media #{$small-only} {
    height: 33px;;
  }
}